.paddle {
  background-color: black;
  position: absolute;
}

.ball {
  background-color: red;
  position: absolute;
  border-radius: 50%;
}

.screen {
  border: 1px solid black;
  margin: auto auto;
  position: relative;
}
